body {
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.subtitle {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-txt);
    margin-bottom: 50px;
}